div#lookup
    h2= lookup_hed

    p.picker
        label!= constituency_label
        select#constituency

    p.picker
        label!= stance_label
        select#stance
            option(value='')
            option(value='leave')= stance_leave
            option(value='remain')= stance_remain
    
    div.result
        h3.vote
        
        p.explainer

div#section-1
    h2= section_1_hed

    each graf in section_1
        p!= graf
    
h2= practical_hed
    
ul#legend
    li.c
        b
        div= con
    li.lab
        b
        div= lab
    li.ld
        b
        div= ld
    li.none
        b
        div= none
        
div#remain-practical-case.map
    h3= practical_remain
    
    div.graphic
    
    div.bars
    
div#leave-practical-case.map
    h3= practical_leave
    
    div.graphic
    
    div.bars

div.footnote!= practical_footnote

div#section-2
    h2= section_2_hed

    each graf in section_2
        p!= graf

h2= ideal_hed

ul#legend
    li.c
        b
        div= con
    li.green
        b
        div= green
    li.lab
        b
        div= lab
    li.ld
        b
        div= ld
    li.snp
        b
        div= snp
    li.ukip
        b
        div= ukip
    li.other
        b
        div= other

div#remain-ideal-case.map
    h3= ideal_remain
            
    div.graphic
    
    div.bars
    
div#leave-ideal-case.map
    h3= ideal_leave
            
    div.graphic
    
    div.bars
    
div.footnote!= ideal_footnote

div#section-3
    h2= section_3_hed

    each graf in section_3
        p!= graf
    
div#secret-render
    div.graphic
