each graf in section_a
    p!= graf

h2= lookup_hed

p.picker
    label= constituency_label
    select#constituency

p.picker
    label= stance_label
    select#stance
        option(value='')
        option(value='leave')= stance_leave
        option(value='remain')= stance_remain
        
p#brexit-result

h2= section_b_hed

each graf in section_b
    p!= graf
    
ul#legend
    li.lab
        b
        div= lab
    li.ld
        b
        div= ld
    li.snp
        b
        div= snp
    li.green
        b
        div= green
    li.c
        b
        div= con
    li.ukip
        b
        div= ukip
        
div#remain-best-case.map
    h3= ideal_remain
            
    div.graphic
    
div#leave-best-case.map
    h3= ideal_leave
            
    div.graphic

p= practical_explainer

div#remain-realistic-case.map
    h3= practical_remain
    
    div.graphic
    
div#leave-realistic-case.map
    h3= practical_leave
    
    div.graphic

h2= section_c_hed

each graf in section_c
    p!= graf
    
div#secret-render
    div.graphic

div.footer!= footer
